@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
}
.button {
  padding: 20px;
  margin: 0 12px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
  width: 66px;
  font-weight: bold;
}

.row {
  margin: 8px 0;
}

.row input {
  margin: 17px 0;
  padding: 10px 0px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 20px;
  width: 340px;
}

.expand {
  width: 160px;
  font-size: 21px;
  background-color: #d4d0d0;
}
