* {
  box-sizing: border-box;
  margin: 0;
  font-family: "fira sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 2rem 2rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

header h1 {
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

#new-task-form {
  display: flex;
}

input,
button {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

#new-task-input {
  border: 2px solid black;
  flex: 1 1 0%;
  padding: 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
  font-size: 1.25rem;
}

#new-task-input::placeholder {
  color: rgb(155, 155, 155);
}
#new-task-submit {
  color: rgb(114, 111, 111);
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.4s;
}

#new-task-submit:hover {
  opacity: 0.8;
}

#new-task-submit:active {
  opacity: 0.6;
}

main {
  flex: 1 1 0%;
  padding: 2rem 1rem;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.task-list {
  padding: 1rem;
}

.task-list h2 {
  font-size: 2.5 rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

#tasks .task {
  background-color: rgb(241, 241, 241);
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(82, 81, 81);
  padding: 0.8rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

#tasks .task .content {
  flex: 1 1 0%;
}
#tasks .task .content .text {
  font-size: 1rem;
  font-weight: 1.125rem;
  width: 100%;
  display: block;
  transition: 0.4s;
}

#tasks .task .content .text:not(:read-only) {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: purple;
}

#tasks .task .actions {
  display: flex;
  margin: 0 -0.5rem;
}

.task .actions button {
  cursor: pointer;
  margin: 0 0.5rem;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.4s;
}

.task .actions button:hover {
  opacity: 0.8;
}

.task .actions button:active- {
  opacity: 0.6;
}

.task .actions .edit {
  color: blue;
  font-size: 1rem;
}

.task .actions .delete {
  font-size: 1rem;
  color: crimson;
}
